@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Karantina:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  width: 100%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3
 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}


.hero-bg {
    background-image: 
      url('/images/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

.about-bg {
    background-image: 
      url('/images/about.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

.career-bg {
     background-image: 
       url('/images/career.png');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
      }

 .gallery-bg {
    background-color: #001826;
    background-image: 
      url('/images/gallery.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      }
      
 .contacts-bg {
    background: 
      url('/images/contacts.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      }
   
   .policy-check {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .policy-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    transition: all 250ms ease-in;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .policy-checkbox {
      width: 22px;
      height: 22px;
    }
  }
  
  .policy-checkbox-empty {
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms ease-in, visibility 250ms ease-in;
  }
  
  .policy-check:checked ~ .policy-agreement > .policy-checkbox-empty {
    opacity: 0;
    visibility: hidden;
  }
  
  .policy-checkbox-filled {
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease-in, visibility 250ms ease-in;
  }
  
  .policy-check:checked ~ .policy-agreement > .policy-checkbox-filled {
    visibility: visible;
    opacity: 1;
  }



   @media screen and (min-width: 480px) {
    .container {
      width: 480px;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
      margin: 0 auto;
    }
  }

  .career::after {
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--section-bottom-gradient);
  }

  @media screen and (min-width: 1280px) {
    .container {
      width: 1280px;
      margin: 0 auto;
    }
  
    @media screen and (min-width: 1440px) {
      .container {
        width: 1280px;
        margin: 0 auto;
      }
    }
    
    @media screen and (min-width: 1640px) {
      .container {
        width: 1440px;
        margin: 0 auto;
      }
    }

    .phone-label::after {
      width: 50px;
      font-size: 20px;
      line-height: 24px;
    }

    .phone {
      padding-left: 50px;
    }

    .career::before,
    .career::after {
      display: none;
    }
  }

  .footer-link {
    position: relative;
  }
  
  .footer-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
    outline: none;
  }
  
  .footer-link:hover::after,
  .footer-link:focus::after {
    width: 100%;
  }


@layer utilities {
  .title {
    @apply text-[40px] md:text-[66px] xl:text-[98px] font-thin text-white tracking-[-1.6px] md:tracking-[-2.68px] xl:tracking-[-3.92px] uppercase;
  }

  .text {
    @apply text-white text-sm md:text-base xl:text-lg font-extralight leading-5 xl:leading-6;
  }

  .navLink {
    @apply text-white md:text-sm font-normal transition duration-300 ease-in-out;
  }
  
  .input {
    @apply px-2 py-[2px] w-full block bg-white bg-opacity-5 text-white text-[12px] font-extralight leading-6 outline-none 
 hover:bg-opacity-10 placeholder:text-white placeholder:opacity-[0.2]
 md:w-[222px] xl:w-[290px] xl:text-[20px] xl:leading-6 transition-all ease-in duration-200;
  }

  .label {
    @apply text-white mb-1 text-xs font-extralight leading-[24px] tracking-[2.4px];
  }

  .links {
    @apply no-underline text-[14px] leading-none tracking-[1.4px];
  }

  .validation-error {
    @apply absolute bottom-[-24px] right-0 text-orange text-xs font-extralight leading-6 tracking-[2.4px]
    before:w-[18px] before:h-[18px] before:absolute before:left-[-22px] before:top-1/2 before:translate-y-[-50%] before:bg-error;
  }

  .invalid-input {
    @apply text-orange text-opacity-100 z-20;
  }
}